ul li {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
}

body {
    font-family: "Oswald", sans-serif;
    font-size: 18px;

}

/*HEADER*/
#header {
    background: rgba(0, 91, 193, 0.6);
    padding: 10px;
    position: absolute;
    width: 100%;
}

.header__logo {
    width: 140px;
    height: 58px;
}


.header__item {
    color: #ffffff;
    margin: 0 30px;
}

/*HEADER*/
/*HERO*/
#hero {
    background: url("../img/Rectangle 2.png") no-repeat center/cover;
    min-height: 100vh;
}

.hero__row {
    margin-left: 320px;
}

.hero__title {
    padding-top: 200px;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.01em;
    width: 635px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.hero__desc {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    width: 445px;
    height: 44px;
    margin-bottom: 40px;

}

.hero__btn {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    background: transparent;
    text-align: center;
    letter-spacing: 0.05em;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    color: #FFFFFF;
    padding: 8px 30px;
}

.hero__btn:hover {
    background: #FFFFFF;
    color: black;
}

.hero__anim {
    position: absolute;
    top: 78px;
    width: 444px;
    height: 652px;
    background: rgba(0, 91, 193, 0.6);
    z-index: 5;
    animation: anim 3s infinite alternate 2s;
}

@keyframes anim {
    0% {
        left: -20%;
        background: transparent;
    }
    25% {
        background: transparent;
        border: 2px solid #FFFFFF;
    }
    50% {
        background: transparent;
        border: 2px solid #FFFFFF;
    }
    100% {
        left: 60%;
    }
}

/*HERO*/

/*catalog*/
#catalog {

}


/*catalog*/

/*PROJECT*/

#projects {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #FFFFFF;
}

.line:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    background: #005bc1;
}

.line:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 5px;
    margin-top: 20px;
    background: #005bc1;
}

.projects__title {
    font-size: 30px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin-left: 130px;
}


.project__slider {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.project__slider__item {
    position: relative;

}


.project__slider__bloc {
    position: absolute;
    padding: 15px 50px;
    background: #FFFFFF;
    margin-top: -162px;
    margin-left: 212px;
}

.project__slider__item img {
    width: 540px;
    height: 400px;
}

.project__slider__bloc h4 {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}

.project__slider__bloc p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    width: 190px;

}

.project__slider__bloc .slick-track {
    display: flex;
}

.slick-arrow {
    position: absolute;
    right: 107px;
    top: -15px;
}

.slick-prev {
    background: url("../img/сол.svg") no-repeat center/cover;
    font-size: 0;
    position: absolute;
    top: 3px;
    z-index: 2;
    margin-top: -50px;
    margin-right: 50px;
    border: 2px solid #005BC1;
    box-sizing: border-box;
    padding: 20px
}

.slick-next {
    background: url("../img/он.svg") no-repeat center/cover;
    font-size: 0;
    position: absolute;
    top: 3px;
    z-index: 2;
    margin-top: -50px;
    border: 2px solid #005BC1;
    box-sizing: border-box;
    padding: 20px;
}

/*PROJECT*/


/*ARENDA*/

#arenda {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #FFFFFF;
}

.arenda__row {
    display: flex;
    position: relative;
    padding-bottom: 100px;
}

.arenda__text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    width: 350px;
    height: 175px;
    margin-top: 130px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #343434;
}

.arenda__slider {
    position: absolute;
    width: 665px;
    height: 394px;
    margin-left: 550px;
    margin-top: 35px;
}


.slick-next1 {
    margin-top: 50px;
}

/*ARENDA*/